.index-box-part .container-index .menu ul li {
  flex: 0 0 auto;
  font-size: 18px;
  color: #666;
  line-height: 23px;
  margin: 0 0.15rem;
  padding: 0 0 0.24rem;
  border-bottom: 2px solid transparent;
  cursor: pointer;
  transition: all ease-out 0.3s;
}

@media (max-width: 1580px) {
  .info-banner .container-index .txt {
    font-size: 18px !important;
  }
}

@media (max-width: 1260px) {
  .info-banner .container-index .txt {
    font-size: 16px !important;
  }
}

@media (max-width: 991px) {
  .info-banner .container-index .txt {
    font-size: 14px !important;
  }
}

.container-index {
  width: 73%;
  position: relative;
  margin: auto;
  max-width: 1400px;
}
.product {
  width: 100%;
  background: #f8f9ff;
  padding: 1.2rem 0 1.35rem;
}

.product .container-index .list {
  width: 100%;
}

.product .container-index .list ul li {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 1.6rem;
  position: relative;
}

@media (max-width: 1260px) {
  .product .container-index .list ul li {
    margin-bottom: 1.4rem;
  }
}

@media (max-width: 991px) {
  .product .container-index .list ul li {
    margin-bottom: 1rem;
  }
}

.product .container-index .list ul li:last-child {
  margin-bottom: 0;
}

.product .container-index .list ul li .public-img {
  width: 50%;
  position: relative;
  z-index: 2;
  max-width: 640px;
}

@media (max-width: 767px) {
  .product .container-index .list ul li .public-img {
    width: 100%;
  }
}

.product .container-index .list ul li .public-img::before {
  padding-top: 75.9%;
}

.product .container-index .list ul li .public-img img {
  max-width: 100%;
  object-fit: contain;
}

.product .container-index .list ul li .tbox {
  width: 33.2%;
  margin-top: 1.4rem;
}

@media (max-width: 991px) {
  .product .container-index .list ul li .tbox {
    margin-top: 1rem;
    width: 40%;
  }
}

@media (max-width: 767px) {
  .product .container-index .list ul li .tbox {
    width: 100%;
    margin-top: 0.5rem;
  }
}

.product .container-index .list ul li .tbox .t1 {
  font-size: 0.46rem;
  line-height: 0.56rem;
  color: #333;
  font-weight: bold;
}

.product .container-index .list ul li .tbox .t2 {
  font-size: 20px;
  color: #666;
  line-height: 30px;
  margin-top: 0.32rem;
}

@media (max-width: 1580px) {
  .product .container-index .list ul li .tbox .t2 {
    font-size: 18px;
    line-height: 28px;
  }
}

@media (max-width: 1260px) {
  .product .container-index .list ul li .tbox .t2 {
    font-size: 16px;
    line-height: 26px;
  }
}

@media (max-width: 991px) {
  .product .container-index .list ul li .tbox .t2 {
    font-size: 14px;
  }
}

.product .container-index .list ul li .bg {
  width: 54.78%;
  position: absolute;
  left: 19.57%;
  bottom: calc(100% - 0.3rem);
}

@media (max-width: 1580px) {
  .product .container-index .list ul li .bg {
    bottom: calc(100% - 0.8rem);
  }
}

@media (max-width: 1260px) {
  .product .container-index .list ul li .bg {
    bottom: calc(100% - 0.5rem);
  }
}

@media (max-width: 767px) {
  .product .container-index .list ul li .bg {
    display: none;
  }
}

.product .container-index .list ul li .bg img {
  transform: rotateY(180deg);
}

.product .container-index .list ul li:nth-child(1) .bg {
  display: none;
}

.product .container-index .list ul li:nth-child(2n) {
  flex-direction: row-reverse;
}

.product .container-index .list ul li:nth-child(2n) .bg img {
  transform: rotateY(0);
}

.index-box-part .container-index .menu ul {
  display: flex;
  gap: 0.85rem;
  justify-content: center;
  overflow: hidden;
}
@media (max-width: 1580px) {
  .container-index {
    width: 84%;
  }
}

@media (max-width: 1260px) {
  .container-index {
    width: 90%;
  }
}

.index-box-part .container-index .menu ul li:hover,
.index-box-part .container-index .menu ul li.on {
  color: #222222;
  border-bottom: 2px solid #0066ff;
}

.index-box-part .container-index .list {
  width: 100%;
  margin-top: 99px;
}

.index-box-part.mobile .container-index .list {
  margin-top: 20px;
}

.index-box-part .container-index .list > ul > li {
  min-width: 100%;
  justify-content: center;
  padding-left: 0.85rem;
  gap: 0.5rem;
  display: none;
  overflow: hidden;
}

.index-box-part .container-index .list ul li.on {
  display: flex;
}

.index-box-part .container-index .list > ul > li > * {
  width: 600px;
  max-width: 600px;
}

.index-box-part .container-index .list > ul > li img {
  margin: auto 0;
}

.info-banner {
  width: 100%;
  height: 4.78rem;
  position: relative;
}

.info-banner .img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  /* background: #030303; */
}

.info-banner .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.info-banner .img img.mb {
  display: none;
}
/* .container-index .public-btn {
  min-width: auto;
  margin-top: 0.5rem;
  padding: 0;
} */

.info-banner .container-index {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.info-banner .container-index .txt {
  width: 620px;
  max-width: 100%;
  font-size: 20px !important;
  line-height: 30px;
  color: #fff;
  margin-top: 0.12rem;
}

.container-index .xctitle {
  font-weight: bold;
  font-size: 0.48rem;
  color: #227af3;
  text-align: unset;
}
.product {
  background: #ffffff;
}
.info-banner .img {
  position: relative;
}
.info-banner .container-index .txt {
  color: #333333;
  margin-top: 0.48rem;
  line-height: 48px;
  font-size: 18px;
  margin-left: 0;
  text-align: unset;
}

.pcright {
  position: absolute;
  top: 0.3rem;
  right: 3.5rem;
  width: 6.76rem !important;
  height: 3.57rem !important;
}
.info-banner.product-banner .img::before {
  height: 0% !important;
}
.tab {
  height: 60px;
  background: #f1f5fc;
  display: flex;
  justify-content: center;
}
.tab-menu {
  font-weight: 400;
  font-size: 0.18rem;
  color: #333333;
  line-height: 48px;
  width: 1.65rem;
  text-align: center;
  line-height: 60px;
  cursor: pointer;
}
.tab-menu:not(:last-child) {
  margin-right: 0.7rem;
}
.tab-menu.active {
  background: #ffffff;
  border-radius: 8px 8px 0px 0px;
  color: #227af3;
  width: 1.65rem;
  height: 60px;
}
.product-gnlb {
  padding-top: 0.56rem !important;
}
.product-tab {
  margin: 0 auto 0.56rem auto;
  width: 3.62rem;
  height: 60px;
  background: #ffffff;
  border: 1px solid #dce7f3;
  display: flex;
  justify-content: center;
}
.product-tab-menu {
  font-weight: 400;
  font-size: 18px;
  color: #666666;
  line-height: 0.6rem;
  width: 1.8rem;
  text-align: center;
  line-height: 60px;
  cursor: pointer;
}
.product-tab-menu.active {
  background: #227af3;
  color: #ffffff;
  border: 1px solid #227af3;
}
.none {
  display: none;
}
/* .container-index {
  width: 50%;
} */
.product .container-index .list ul li .tbox {
  width: 37.2%;
  margin-top: 0.5rem;
}
.product .list li:nth-child(even) .tbox {
  margin-left: 0.72rem;
}
.product .list li:nth-child(odd) .tbox {
  margin-right: 0.72rem;
}
/* margin-left: 0.72rem; */
.product .container-index .list ul li .tbox .t1 {
  font-weight: 400;
  font-size: 0.32rem;
  color: #333840;
}
.product .container-index .list ul li .public-img {
  width: 5.66rem;
  /* width: 5.66rem;
  height: 3.65rem; */
}
.product .container-index .list ul li .tbox .t2 {
  font-size: 16px;
  color: #62697e;
  font-weight: 400;
  line-height: 0.48rem;
  margin-top: 0.1rem;
}
.product .container-index .list ul li {
  /* margin-bottom: 1.27rem; */
  margin-bottom: 0.57rem;
}
.container-index .thead .thead-flex {
  display: flex;
  justify-content: space-between;
}
.container-index .thead .thead-flex span {
  text-align: center;
  line-height: 52px;
  color: #ffffff;
  font-size: 16px;
}
.container-index .thead .thead-flex span:nth-child(1) {
  display: inline-block;
  width: 2rem;
  height: 52px;
  background: #539df3;
  margin-right: 5px;
}
.container-index .thead .thead-flex span:nth-child(2) {
  display: inline-block;
  width: 2.4rem;
  height: 52px;
  background: #4fb4f9;
  margin-right: 3px;
}
.container-index .thead .thead-flex span:nth-child(3) {
  display: inline-block;
  flex: 1;
  height: 52px;
  background: #8fb7e5;
}
.tbody-flex {
  display: flex;
  justify-content: space-between;
}
.tbody .tbody-flex:nth-child(odd) .tbody-model {
  background: #e7f0ff;
}
.tbody .tbody-flex:nth-child(odd) .tbody-name {
  background: #e1eefb;
}
.tbody .tbody-flex:nth-child(odd) .tbody-recommendation {
  background: #ecf5ff;
}
.tbody .tbody-flex:nth-child(even) .tbody-model {
  background: #f5f9ff;
}
.tbody .tbody-flex:nth-child(even) .tbody-name {
  background: #f3f8fd;
}
.tbody .tbody-flex:nth-child(even) .tbody-recommendation {
  background: #f7fbff;
}
.container-index .tbody-model {
  width: 2rem;
  margin-right: 5px;
}
.container-index .tbody-name {
  width: 2.4rem;
  margin-right: 3px;
}
.container-index .tbody-recommendation {
  flex: 1;
}

.tbody-model,
.tbody-name,
.tbody-recommendation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.tbody-model span,
.tbody-name span,
.tbody-recommendation span {
  display: inline-block;
  padding: 15px 10px;
  font-size: 14px;
  color: #333333;
  line-height: 22px;
}
@media (max-width: 767px) {
  .tbody-model,
  .tbody-name,
  .tbody-recommendation {
    justify-content: space-between;
  }
  .product-tab {
    width: 80%;
  }
  .product-tab-menu {
    font-size: 14px;
  }
  .product .container-index .list ul li .public-img {
    width: 100% !important;
  }
  .info-banner .img img.pc {
    display: block;
  }
  .container-index {
    width: 90%;
    line-height: 0.3rem !important;
  }
  .tab-menu:not(:last-child) {
    margin-right: 0rem !important;
  }
  .product .container-index .list ul li .tbox {
    width: 100%;
    margin-left: 0px;
    margin-top: 0.5rem;
  }
  .product .container-index .list ul li .tbox .t2 {
    font-size: 14px;
  }
  .info-banner .container-index .txt {
    font-size: 14px !important;
    line-height: 25px;
  }
  .tab-menu {
    font-size: 14px;
  }
}
