<div class="pub-box1">
  <div class="bg"><img src="../resources/global/tryout-bg.png" alt="" /></div>

  <div class="container-index">
    <h2 class="title">免费试用，体验更多大蚂蚁即时通讯产品功能</h2>
  </div>
  <div class="container-index">
    <div class="ckbox">
      <a href="/bigant/license.html" class="public-btn">免费试用</a>
      <a class="public-btn">在线咨询</a>
    </div>
  </div>
</div>

<div class="footer">
  <div class="container-index">
    <div class="top">
      <div class="left">
        <ul>
          <li>
            <div class="t1">产品介绍</div>

            <div class="ts">
              <a href="/xcgch.html#advantage" class="a-link">兼容优势</a>
            </div>
          </li>

          <li>
            <div class="t1">信创国产化</div>

            <div class="ts">
              <a href="/cp/jstx.html" class="a-link">适配列表</a>
            </div>

            <div class="ts">
              <a href="/cp/xtbg.html" class="a-link">适配认证</a>
            </div>
          </li>

          <li>
            <div class="t1">客户案例</div>

            <div class="ts">
              <a href="/al/zhengfujigou.html" class="a-link">全部</a>
            </div>

            <div class="ts">
              <a href="/al/jinrong.html" class="a-link"> 政府/事业单位</a>
            </div>

            <div class="ts">
              <a href="/al/zhizaoye.html" class="a-link"> 金融 </a>
            </div>

            <div class="ts">
              <a href="/al/jianzhu.html" class="a-link">医疗</a>
            </div>

            <div class="ts">
              <a href="/al/nengyuan.html" class="a-link"> 制造业</a>
            </div>
          </li>

          <li>
            <div class="t1">关于九麒</div>

            <div class="ts">
              <a href="/about/contact.html" class="a-link">公司简介</a>
            </div>

            <div class="ts">
              <a href="/about/career.html" class="a-link"> 公司资质 </a>
            </div>

            <div class="ts">
              <a href="/about/xw.html" class="a-link">新闻资讯 </a>
            </div>

            <div class="ts">
              <a href="/about/bk.html" class="a-link">联系我们 </a>
            </div>

            <div class="ts">
              <a href="/fzsm.html" class="a-link">加入我们</a>
            </div>
            <div class="ts">
              <a href="/fzsm.html" class="a-link"> 反诈申明</a>
            </div>
          </li>

          <li>
            <div class="t1">帮助中心</div>

            <div class="ts">
              <a href="/doc/docdownload.html" class="a-link">开放平台</a>
            </div>

            <div class="ts">
              <a href=" https://support.qq.com/products/593639" target="_blank" class="a-link">软件手册</a>
            </div>
          </li>

          <li>
            <div class="t1">下载中心</div>

            <div class="ts">
              <a href="/download/client.html" class="a-link">客户端</a>
            </div>

            <div class="ts">
              <a href="/download/server.html" class="a-link">服务端</a>
            </div>

            <div class="ts">
              <a href="/download/gengxinrizhi.html" class="a-link">更新日志</a>
            </div>
          </li>
        </ul>
      </div>

      <div class="right">
        <div class="ewm">
          <span><img src="../resources/global/qrcode.png" alt="知乎入口" /></span>
        </div>

        <div class="t1">关注或联系我们</div>

        <div class="t2"><span>400-097-0006</span></div>

        <div class="t3">地址：杭州市西湖区文三路90号东部 软件园2号楼6楼</div>
        <div class="t4">邮箱：info@bigant.cn</div>
      </div>
    </div>
  </div>

  <div class="content">
    <div class="copyright">
      ©2012-2024 杭州九麒科技有限公司（原杭州艾朴软件有限公司）
      <a class="a_link" href="https://beian.miit.gov.cn/" target="_blank" rel="nofollow">
        <img src="../resources/uploads/images/20230825/d0289dc0a46fc5b15b3363ffa78cf6c7.png" />
        (工信部备案号)浙ICP备13002248号
      </a>
      <!-- <a class="a_link" href="https://www.growthman.cn" target="_blank" rel="nofollow">By Growthman</a> -->
    </div>

    <!--       <div class="right-menu">
        <ul>
          <li><a href="/sitemap">网站地图</a></li>

          <li><a href="/protocol">用户协议</a></li>

          <li><a href="/terms">服务协议</a></li>

          <li><a href="/privacy">隐私政策</a></li>
        </ul>
      </div> -->
  </div>
</div>