<div class="footer">
  <div class="container-index">
    <div class="top">
      <div class="left">
        <ul>
          <li>
            <div class="t1">信创国产化</div>

            <div class="ts">
              <a href="/xcgch.html#advantage" class="a-link">兼容优势</a>
            </div>

            <div class="ts">
              <a href="/xcgch.html#certification" class="a-link">兼容认证</a>
            </div>

            <div class="ts">
              <a href="/xcgch.html#core" class="a-link">五大核心价值</a>
            </div>

            <div class="ts">
              <a href="/xcgch.html#scenario" class="a-link">应用场景</a>
            </div>
          </li>

          <li>
            <div class="t1">产品介绍</div>

            <div class="ts">
              <a href="/cp/jstx.html" class="a-link">即时通讯</a>
            </div>

            <div class="ts">
              <a href="/cp/xtbg.html" class="a-link">协同办公</a>
            </div>

            <div class="ts">
              <a href="/cp/gzmh.html" class="a-link">工作门户</a>
            </div>

            <div class="ts">
              <a href="/cp/aqgn.html" class="a-link">安全功能</a>
            </div>

            <div class="ts">
              <a href="/cp/kkkg.html" class="a-link">可控可管</a>
            </div>

            <div class="ts">
              <a href="/cp/lhbs.html" class="a-link">灵活部署</a>
            </div>

            <div class="ts">
              <a href="/cp/dzhxq.html" class="a-link">定制化需求</a>
            </div>

            <div class="ts">
              <a href="/cp/zzfw.html" class="a-link">增值功能</a>
            </div>

            <div class="ts">
              <a href="/cp/rtx.html" class="a-link">RTX迁移</a>
            </div>
          </li>

          <li>
            <div class="t1">客户案例</div>

            <div class="ts">
              <a href="/al/zhengfujigou.html" class="a-link">政府/事业单位</a>
            </div>

            <div class="ts">
              <a href="/al/jinrong.html" class="a-link">金融</a>
            </div>

            <div class="ts">
              <a href="/al/zhizaoye.html" class="a-link">制造业</a>
            </div>

            <div class="ts">
              <a href="/al/jianzhu.html" class="a-link">建筑</a>
            </div>

            <div class="ts">
              <a href="/al/nengyuan.html" class="a-link">能源</a>
            </div>

            <div class="ts">
              <a href="/al/chuanmei.html" class="a-link">传媒</a>
            </div>

            <div class="ts">
              <a href="/al/yiliao.html" class="a-link">医疗</a>
            </div>

            <div class="ts">
              <a href="/al/youxi.html" class="a-link">游戏</a>
            </div>

            <div class="ts">
              <a href="/al/pifalingshou.html" class="a-link">批发/零售</a>
            </div>

            <div class="ts">
              <a href="/al/jiaoyu.html" class="a-link">教育</a>
            </div>

            <div class="ts">
              <a href="/al/itfuwu.html" class="a-link">IT服务</a>
            </div>
          </li>

          <li>
            <div class="t1">关于有度</div>

            <div class="ts">
              <a href="/about/contact.html" class="a-link">联系我们</a>
            </div>

            <div class="ts">
              <a href="/about/career.html" class="a-link">加入我们</a>
            </div>

            <div class="ts">
              <a href="/about/xw.html" class="a-link">新闻资讯</a>
            </div>

            <div class="ts">
              <a href="/about/bk.html" class="a-link">有度博客</a>
            </div>

            <div class="ts">
              <a href="/fzsm.html" class="a-link">反诈声明</a>
            </div>
          </li>

          <li>
            <div class="t1">帮助中心</div>

            <div class="ts">
              <a href="/doc/docdownload.html" class="a-link">文档下载</a>
            </div>

            <div class="ts">
              <a
                href=" https://support.qq.com/products/593639"
                target="_blank"
                class="a-link"
                >意见反馈</a
              >
            </div>
          </li>

          <li>
            <div class="t1">下载有度</div>

            <div class="ts">
              <a href="/download/client.html" class="a-link">客户端下载</a>
            </div>

            <div class="ts">
              <a href="/download/server.html" class="a-link">服务端下载</a>
            </div>

            <div class="ts">
              <a href="/download/gengxinrizhi.html" class="a-link">更新日志</a>
            </div>
          </li>
        </ul>
      </div>

      <div class="right">
        <div class="t1">关注或联系我们</div>

        <div class="t2">客服电话：<span>400-097-0006</span></div>

        <div class="t3">
          技术支持：support@xindatech.cn 投诉举报：0756-3232110
        </div>

        <div class="ewm">
          <span
            ><img
              src="../resources/uploads/images/20230227/41ced34b8ab4250a6026fcc01079970a.jpg"
              alt="关注公众号"
          /></span>

          <span
            ><img
              src="../resources/uploads/images/20230227/a7fb5a1d5cdf507bb2cfd6ba76be9aab.png"
              alt="知乎入口"
          /></span>
        </div>

        <div class="btn">
          <a href="/download/client.html" class="public-btn"
            >下载
            <img
              src="../resources/images/load.svg"
              onload="SVGInject(this)"
              alt=""
          /></a>

          <a href="/license.html?utm_source=footer_menu" class="public-btn"
            >免费试用</a
          >
        </div>
      </div>
    </div>

    <div class="content">
      <div class="copyright">
        ©2024 珠海信达九州科技有限公司
        <a
          class="a_link"
          href="https://beian.miit.gov.cn"
          target="_blank"
          rel="nofollow"
          >粤ICP备15035175号
          <a
            target="_blank"
            href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=44040202001474"
          >
            <img
              src="../resources/uploads/images/20230825/d0289dc0a46fc5b15b3363ffa78cf6c7.png"
            />
            粤公网安备 44040202001474号
          </a></a
        >
        <!-- <a class="a_link" href="https://www.growthman.cn" target="_blank" rel="nofollow">By Growthman</a> -->
      </div>

      <div class="right-menu">
        <ul>
          <li><a href="/sitemap">网站地图</a></li>

          <li><a href="/protocol">用户协议</a></li>

          <li><a href="/terms">服务协议</a></li>

          <li><a href="/privacy">隐私政策</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
