<div class="pub-box1">
  <div class="bg"><img src="../resources/global/tryout-bg.png" alt="" /></div>

  <div class="container-index">
    <h2 class="title">免费试用，体验更多大蚂蚁即时通讯产品功能</h2>
  </div>
  <div class="container-index">
    <div class="ckbox">
      <a href="/bigant/license.html" class="public-btn">免费试用</a>
      <a class="public-btn">在线咨询</a>
    </div>
  </div>
</div>

<div class="footer">
  <div class="container-index">
    <div class="top">
      <div class="left">
        <ul>
          <li>
            <div class="t1">产品介绍</div>

            <div class="ts">
              <a href='/jstx/jstx.html' class="a-link">即时通讯</a>
            </div>
            <div class="ts">
              <a href='/jstx/yymh.html' class="a-link">应用门户</a>

            </div>
            <div class="ts">
              <a href='/jstx/sjaq.html' class="a-link">数据安全</a>

            </div>
            <div class="ts">
              <a href='/jstx/gnlb.html' class="a-link">功能列表</a>

            </div>
          </li>

          <li>
            <div class="t1">信创国产化</div>

            <div class="ts">
              <a href="/xcgch/xcgch.html" class="a-link">适配列表</a>
            </div>

            <div class="ts">
              <a href="xcgch/xcgch.html#certification" class="a-link">适配认证</a>
            </div>
          </li>

          <li>
            <div class="t1">客户案例</div>

            <div class="ts">
              <a href="/bigant/case.html?type=all" class="a-link">全部</a>
            </div>

            <div class="ts">
              <a href="/bigant/case.html?type=sydw" class="a-link"> 政府/事业单位</a>
            </div>

            <div class="ts">
              <a href="/bigant/case.html?type=yc" class="a-link"> 烟草 </a>
            </div>

            <div class="ts">
              <a href="/bigant/case.html?type=dzxqy" class="a-link">大中型企业</a>
            </div>

            <div class="ts">
              <a href="/bigant/case.html?type=gf" class="a-link"> 国防</a>
              <a href="/bigant/case.html?type=qt" class="a-link"> 其他</a>
            </div>
          </li>

          <li>
            <div class="t1">关于九麒</div>

            <div class="ts">
              <a href='/aboutus/aboutUs.html' class="a-link">公司简介</a>
            </div>
            <div class="ts">
              <a href='/aboutus/qualifications.html' class="a-link"> 公司资质 </a>
            </div>

            <div class="ts">
              <a href='/aboutus/contactUs.html' class="a-link">联系我们 </a>
            </div>

            <div class="ts">
              <a href='/aboutus/joinUs.html' class="a-link">加入我们</a>
            </div>

          </li>

          <li>
            <div class="t1">帮助中心</div>

            <div class="ts">
              <a href='/aboutus/doc.html' class="a-link">帮助中心</a>
            </div>

          </li>

          <li>
            <div class="t1">下载中心</div>
            <div class="ts">
              <a href="/bigant/server.html" class="a-link">服务端</a>
            </div>
            <div class="ts">
              <a href="/bigant/client.html" class="a-link">客户端</a>
            </div>
            <div class="ts">
              <a href='/bigant/download-center.html' class="a-link">更新日志</a>
            </div>
          </li>
        </ul>
      </div>

      <div class="right">
        <div class="ewm">
          <span><img src="../resources/global/qrcode.png" alt="" /></span>
        </div>
        <div class="t1">关注或联系我们</div>

        <div class="t2"><span>400-097-0006</span></div>

        <div class="t3">地址：杭州市西湖区文三路90号东部 软件园2号楼6楼</div>
        <div class="t4">邮箱：info@bigant.cn</div>
      </div>
    </div>
  </div>

  <div class="content">
    <div class="copyright">
      ©2012-2024 杭州九麒科技有限公司（原杭州艾朴软件有限公司）
      <a class="a_link" href="https://beian.miit.gov.cn/" target="_blank" rel="nofollow">
        <img src="../resources/uploads/images/20230825/d0289dc0a46fc5b15b3363ffa78cf6c7.png" />
        (工信部备案号)浙ICP备13002248号
      </a>
      <!-- <a class="a_link" href="https://www.growthman.cn" target="_blank" rel="nofollow">By Growthman</a> -->
    </div>

    <!--       <div class="right-menu">
        <ul>
          <li><a href="/sitemap">网站地图</a></li>

          <li><a href="/protocol">用户协议</a></li>

          <li><a href="/terms">服务协议</a></li>

          <li><a href="/privacy">隐私政策</a></li>
        </ul>
      </div> -->
  </div>
</div>