
<div class="header">

    <div class="box">

        <div class="logo"><a href="/"><img src="./resources/uploads/images/20230221/1496af1bceaef3095643d7805ad19b6e.svg" alt=""></a></div>

        <div class="right">

            <div class="close">

                <span></span>

                <span></span>

                <span></span>

            </div>

            <div class="right-box">

                <div class="menu">

                    <ul>

                        
                            <li class="on">
                                
                                <div class="m-link">

                                    <a href='/'>首页</a>

                                    
                                </div>

                                

                                
                            </li>

                        

                        
                            <li >
                                
                                <div class="m-link">

                                    <a href='/xcgch.html'>信创国产化</a>

                                    
                                    <div class="icon"><img src="./resources/images/arrow.svg" onload="SVGInject(this)" alt=""></div>

                                    
                                </div>

                                

                                
                                <div class="s-menu s-help">

                                    <div class="s-boxs">

                                        <div class="stbox">

                                            <div class="t1">信创国产化</div>

                                            <div class="t2">完整支持国产芯片、操作系统和数据库，有效满足国产计算平台办公需求</div>

                                            <a href='/xcgch.html'class="public-btn">信创国产化</a>
                                        </div>

                                        <div class="rmenu">
                                                                                            <div class="rs">
                                                                                                    <div class="t1">信创国产化</div>
                                                                                                                                                
                                                <a href='/xcgch.html#advantage' class="rsa"> 兼容优势</a>
                                            
                                            

                                                                                            
                                                <a href='/xcgch.html#certification' class="rsa"> 兼容认证</a>
                                            
                                            

                                                                                            
                                                <a href='/xcgch.html#core' class="rsa"> 五大核心价值</a>
                                            
                                            

                                                                                            
                                                <a href='/xcgch.html#scenario' class="rsa"> 应用场景</a>
                                            
                                            

                                            
                                        </div>

                                    </div>

                                </div>

                                
                            </li>

                        

                        
                            <li >

                                <div class="m-link">

                                    <a href='/cp/jstx.html'>产品介绍</a>

                                    <div class="icon"><img src="./resources/images/arrow.svg" onload="SVGInject(this)" alt=""></div>

                                </div>

                                <div class="s-menu s-help">

                                    <div class="s-boxs">

                                        <div class="stbox">

                                            <div class="t1">产品介绍</div>

                                            <div class="t2">提供即时通讯、协同办公、工作门户、RTX迁移等功能</div>


                                            <a href="/license.html?utm_source=cp" class="public-btn">免费试用</a>

                                        </div>

                                        <div class="rmenu">
                                                                                           <div class="rs">
                                                                                                    <div class="t1">产品功能</div>
                                                                                                                                                
                                                <a href="/cp/jstx.html" class="rsa"> 即时通讯</a>
                                            
                                                                                            
                                                                                            
                                                <a href="/cp/xtbg.html" class="rsa"> 协同办公</a>
                                            
                                                                                            
                                                                                            
                                                <a href="/cp/gzmh.html" class="rsa"> 工作门户</a>
                                            
                                                                                            
                                                                                            
                                                <a href="/cp/rtx.html" class="rsa"> RTX迁移</a>
                                            
                                                                                            </div>
                                                                                                                                            
                                            
                                            

                                                                                            <div class="rs">
                                                                                                    <div class="t1">安全优势</div>
                                                                                                                                                
                                                <a href="/cp/aqgn.html" class="rsa"> 安全功能</a>
                                            
                                                                                            
                                                                                            
                                                <a href="/cp/kkkg.html" class="rsa"> 可控可管</a>
                                            
                                                                                            
                                                                                            
                                                <a href="/cp/lhbs.html" class="rsa"> 灵活部署</a>
                                            
                                                                                            </div>
                                                                                                                                            
                                            
                                            

                                                                                            <div class="rs">
                                                                                                    <div class="t1">增值服务</div>
                                                                                                                                                
                                                <a href="/cp/dzhxq.html" class="rsa"> 定制化需求</a>
                                            
                                                                                            
                                                                                            
                                                <a href="/cp/zzfw.html" class="rsa"> 增值功能</a>
                                            
                                                                                            </div>
                                                                                                                                            
                                            
                                            

                                                                                            
                                            
                                            
                                        </div>

                                    </div>

                                </div>

                            </li>

                            

                        
                            <li >
                                
                                <div class="m-link">

                                    <a href='/al.html'>客户案例</a>

                                    
                                    <div class="icon"><img src="./resources/images/arrow.svg" onload="SVGInject(this)" alt=""></div>

                                    
                                </div>

                                

                                
                                <div class="s-menu s-help">

                                    <div class="s-boxs">

                                        <div class="stbox">

                                            <div class="t1">客户案例</div>

                                            <div class="t2">有度为客户提供即时通讯及实时协作能力，打造安全可靠的工作交流平台，助力客户安全高效办公 </div>

                                            <a href='/al.html'class="public-btn">客户案例</a>
                                        </div>

                                        <div class="rmenu">
                                                                                            <div class="rs">
                                                                                                    <div class="t1">客户案例</div>
                                                                                                                                                
                                                <a href='/al/zhengfujigou.html' class="rsa"> 政府/事业单位</a>
                                            
                                            

                                                                                            
                                                <a href='/al/jinrong.html' class="rsa"> 金融</a>
                                            
                                            

                                                                                            
                                                <a href='/al/zhizaoye.html' class="rsa"> 制造业</a>
                                            
                                            

                                                                                            
                                                <a href='/al/jianzhu.html' class="rsa"> 建筑</a>
                                            
                                            

                                                                                            
                                                <a href='/al/nengyuan.html' class="rsa"> 能源</a>
                                            
                                                                                            </div>
                                                                                            

                                                                                            <div class="rs">
                                                                                                    <div class="t1"></div>
                                                                                                                                                
                                                <a href='/al/chuanmei.html' class="rsa"> 传媒</a>
                                            
                                            

                                                                                            
                                                <a href='/al/yiliao.html' class="rsa"> 医疗</a>
                                            
                                            

                                                                                            
                                                <a href='/al/youxi.html' class="rsa"> 游戏</a>
                                            
                                            

                                                                                            
                                                <a href='/al/pifalingshou.html' class="rsa"> 批发/零售</a>
                                            
                                            

                                                                                            
                                                <a href='/al/jiaoyu.html' class="rsa"> 教育</a>
                                            
                                                                                            </div>
                                                                                            

                                                                                            <div class="rs">
                                                                                                    <div class="t1"></div>
                                                                                                                                                
                                                <a href='/al/itfuwu.html' class="rsa"> IT服务</a>
                                            
                                            

                                            
                                        </div>

                                    </div>

                                </div>

                                
                            </li>

                        

                        
                            <li >
                                
                                <div class="m-link">

                                    <a href='/about.html'>关于有度</a>

                                    
                                    <div class="icon"><img src="./resources/images/arrow.svg" onload="SVGInject(this)" alt=""></div>

                                    
                                </div>

                                

                                
                                <div class="s-menu s-help">

                                    <div class="s-boxs">

                                        <div class="stbox">

                                            <div class="t1">关于有度</div>

                                            <div class="t2">有度即时通
让工作张弛有度 安全高效</div>

                                            <a href='/about.html'class="public-btn">关于有度</a>
                                        </div>

                                        <div class="rmenu">
                                                                                            <div class="rs">
                                                                                                    <div class="t1">关于有度</div>
                                                                                                                                                
                                                <a href='/about/contact.html' class="rsa"> 联系我们</a>
                                            
                                            

                                                                                            
                                                <a href='/about/career.html' class="rsa"> 加入我们</a>
                                            
                                            

                                                                                            
                                                <a href='/about/xw.html' class="rsa"> 新闻资讯</a>
                                            
                                            

                                                                                            
                                                <a href='/about/bk.html' class="rsa"> 有度博客</a>
                                            
                                            

                                                                                            
                                                <a href='/fzsm.html' class="rsa"> 反诈声明</a>
                                            
                                                                                            </div>
                                                                                            

                                            
                                        </div>

                                    </div>

                                </div>

                                
                            </li>

                        

                        
                            <li >
                                
                                <div class="m-link">

                                    <a href='/doc.html'>帮助中心</a>

                                    
                                    <div class="icon"><img src="./resources/images/arrow.svg" onload="SVGInject(this)" alt=""></div>

                                    
                                </div>

                                

                                
                                <div class="s-menu s-help">

                                    <div class="s-boxs">

                                        <div class="stbox">

                                            <div class="t1">帮助中心</div>

                                            <div class="t2">提供有度即时通的：产品文档、用户指南、管理员指南、开发者文档等。</div>

                                            <a href='/doc.html'class="public-btn">帮助中心</a>
                                        </div>

                                        <div class="rmenu">
                                                                                            <div class="rs">
                                                                                                    <div class="t1">帮助中心</div>
                                                                                                                                                
                                                <a href='/doc/docdownload.html' class="rsa"> 文档下载</a>
                                            
                                            

                                                                                            
                                                <a href=' https://support.qq.com/products/593639.html' target=_blank  class="rsa"> 意见反馈</a>
                                            
                                            

                                            
                                        </div>

                                    </div>

                                </div>

                                
                            </li>

                        

                        
                            <li >
                                
                                <div class="m-link">

                                    <a href='/download/client.html'>下载有度</a>

                                    
                                    <div class="icon"><img src="./resources/images/arrow.svg" onload="SVGInject(this)" alt=""></div>

                                    
                                </div>

                                

                                
                                <div class="s-menu s-help">

                                    <div class="s-boxs">

                                        <div class="stbox">

                                            <div class="t1">下载有度</div>

                                            <div class="t2">支持Windows、Linux、Mac、Android、iOS等原生平台，消息多终端漫游。</div>

                                            <a href='/download/client.html'class="public-btn">下载有度</a>
                                        </div>

                                        <div class="rmenu">
                                                                                            <div class="rs">
                                                                                                    <div class="t1">下载有度</div>
                                                                                                                                                
                                                <a href='/download/client.html' class="rsa"> 客户端下载</a>
                                            
                                            

                                                                                            
                                                <a href='/download/server.html' class="rsa"> 服务端下载</a>
                                            
                                            

                                                                                            
                                                <a href='/download/gengxinrizhi.html' class="rsa"> 更新日志</a>
                                            
                                            

                                            
                                        </div>

                                    </div>

                                </div>

                                
                            </li>

                        

                        
                                    

                    </ul>

                </div>

                <div class="other">

                    <div class="tel"><img src="./resources/images/tel.svg" alt=""> 400-097-0006</div>

                    <a href="/license.html?utm_source=menu" class="btn Free-trial">免费试用</a>

                </div>

            </div>

        </div>

    </div>

</div>