<div class="header">

    <div class="box">

        <div class="logo"><a href="/"><img src="../resources/global/logo.png" alt="大蚂蚁即时通讯"></a></div>

        <div class="right">

            <div class="close">

                <span></span>

                <span></span>

                <span></span>

            </div>

            <div class="right-box">

                <div class="menu">

                    <ul>

                        <li class="">
                            <!-- <li class="on"> -->

                            <div class="m-link">

                                <a href='/'>首页</a>


                            </div>




                        </li>




                        <li>

                            <div class="m-link">

                                <a href="javascript:;">产品介绍</a>
                                <div class="icon"><img src="../resources/images/arrow.svg" onload="SVGInject(this)"
                                        alt=""></div>


                                <div class="s-menu s-help">

                                    <div class="s-boxs">

                                        <div class="rmenu">
                                            <div class="rs">
                                                <!-- <div class="t1">信创国产化</div> -->

                                                <a href='/jstx/jstx.html' class="rsa">即时通讯


                                                </a>




                                                <a href='/jstx/yymh.html' class="rsa"> 应用门户</a>




                                                <a href='/jstx/sjaq.html' class="rsa"> 数据安全</a>




                                                <a href='/jstx/gnlb.html' class="rsa"> 功能列表</a>




                                            </div>

                                        </div>

                                    </div>
                                </div>

                            </div>







                        </li>




                        <li>

                            <div class="m-link">

                                <a href='/xcgch/xcgch.html'>信创国产化</a>


                            </div>


                        </li>




                        <li>

                            <div class="m-link">

                                <a href='/bigant/case.html'>客户案例</a>



                            </div>

                        </li>




                        <li>

                            <div class="m-link">

                                <a href="javascript:;">关于九麒</a>

                                <div class="icon"><img src="../resources/images/arrow.svg" onload="SVGInject(this)"
                                        alt=""></div>


                                <div class="s-menu s-help">

                                    <div class="s-boxs">

                                        <div class="rmenu">
                                            <div class="rs">


                                                <a href='/aboutus/aboutUs.html' class="rsa">公司简介</a>

                                                <a href='/aboutus/qualifications.html' class="rsa"> 公司资质</a>

                                                <a href='/aboutus/contactUs.html' class="rsa"> 联系我们</a>

                                                <a href='/aboutus/joinUs.html' class="rsa"> 加入我们</a>


                                            </div>

                                        </div>

                                    </div>
                                </div>


                            </div>




                        </li>




                        <li>

                            <div class="m-link">

                                <a href='/aboutus/doc.html'>帮助中心</a>




                            </div>





                        </li>




                        <li>

                            <div class="m-link">

                                <a href="javascript:;">下载中心</a>

                                <div class="icon"><img src="../resources/images/arrow.svg" onload="SVGInject(this)"
                                        alt=""></div>
                                <div class="s-menu s-help">

                                    <div class="s-boxs">

                                        <div class="rmenu">
                                            <div class="rs">
                                                <!-- <div class="t1">信创国产化</div> -->

                                                <a href='/bigant/server.html' class="rsa">服务端


                                                </a>




                                                <a href='/bigant/client.html' class="rsa"> 客户端</a>




                                                <a href='/bigant/download-center.html' class="rsa"> 更新日志</a>








                                            </div>

                                        </div>

                                    </div>
                                </div>

                            </div>







                        </li>






                    </ul>

                </div>

                <div class="other">

                    <!-- <div class="tel"><img src="../resources/images/tel.svg" alt=""> 400-097-0006</div> -->

                    <a href="/bigant/license.html" class="btn Free-trial">免费试用</a>

                </div>

            </div>

        </div>

    </div>

</div>