.info-banner {
  width: 100%;
  height: 4.6rem;
  position: relative;
}

.info-banner .img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  /* background: #030303; */
}

.info-banner .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* opacity: 0.6; */
}

.info-banner .img img.mb {
  display: none;
}

@media (max-width: 767px) {
  .info-banner .img {
    background: #030303;
  }
  .info-banner .img img {
    opacity: 0.6;
  }
}

@media (max-width: 767px) {
  .info-banner .img img.pc {
    display: none;
  }

  .info-banner .img img.mb {
    display: block;
  }
}

.info-banner .container-index {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.info-banner .container-index .title {
  font-size: 0.46rem;
  color: #227af3;
  line-height: 0.56rem;
  text-align: left;
}
.info-banner .container-index .txt b {
  font-size: 0.26rem;
  font-weight: 700;
  color: #367ef8;
}
.info-banner .container-index .txt {
  width: 620px;
  max-width: 100%;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
  margin: 0.33rem 0 0rem;
  text-align: left;
}

@media (max-width: 1580px) {
  .info-banner .container-index .txt {
    font-size: 18px;
  }
}

@media (max-width: 1260px) {
  .info-banner .container-index .txt {
    font-size: 16px;
  }
}

@media (max-width: 991px) {
  .info-banner .container-index .txt {
    font-size: 14px;
  }
}

.info-banner .container-index .public-btn {
  margin-top: 0.64rem;
  background: linear-gradient(90deg, #347df8 0%, #599ffd 100%);
  border-radius: 8px;
  color: #fff;
}

@media (max-width: 767px) {
  .info-banner .container-index .public-btn {
    margin-top: 0.3rem;
  }
}

.x-news-list1 {
  /* padding-top: 0.8rem; */
  background: #f1f5fc;
}
.x-news-list1 .container-index .menu {
  width: 100%;
  /* border-bottom: 1px solid #ddd; */
}
.x-news-list1 .container-index .menu ul {
  width: 100%;
  display: flex;
  overflow-x: auto;
  justify-content: space-between;
  white-space: nowrap;
}
@media (max-width: 767px) {
  .x-news-list1 .container-index .menu ul {
    padding-bottom: 0.2rem;
    margin-bottom: -0.2rem;
  }
}
.x-news-list1 .container-index .menu ul li {
  border-bottom: 3px solid transparent;
  transition: all ease-out 0.3s;
  border-top-left-radius: 0.08rem;
  border-top-right-radius: 0.08rem;
}
.x-news-list1 .container-index .menu ul li a {
  /* width: 1.7rem; */
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: #666;
  transition: all ease-out 0.3s;
  padding: 0 0.3rem;
}
@media (max-width: 1580px) {
  .x-news-list1 .container-index .menu ul li a {
    font-size: 18px;
  }
}
@media (max-width: 1260px) {
  .x-news-list1 .container-index .menu ul li a {
    font-size: 16px;
  }
}
.x-news-list1 .container-index .menu ul li:hover,
.x-news-list1 .container-index .menu ul li.on {
  background: #ffffff;
  border-radius: 8px 8px 0px 0px;
}

@media (max-width: 767px) {
  .x-news-list1 .container-index .menu ul li.on {
    background: transparent;
  }
}
.x-news-list1 .container-index .menu ul li:hover a,
.x-news-list1 .container-index .menu ul li.on a {
  color: #227af3;
  font-weight: bold;
}
.x-news-list2 {
  padding: 0.5rem 0 0 0;
}

@media (max-width: 767px) {
  .x-news-list2 {
    padding: 0.8rem 0 1.2rem 0;
  }
}
.x-news-list2 .container-index ul {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0 -0.1rem -0.2rem;
  padding-bottom: 0.6rem;
}
@media (max-width: 767px) {
  .x-news-list2 .container-index ul {
    margin-bottom: 0.4rem;
    padding-bottom: 0.3rem;
  }
}
.x-news-list2 .container-index ul li {
  width: 16.6%;
  /* width: 25%; */
  padding: 0 0.1rem 0.2rem;
  display: flex;
}
@media (max-width: 1260px) {
  .x-news-list2 .container-index ul li {
    width: 33.33%;
  }
}
@media (max-width: 991px) {
  .x-news-list2 .container-index ul li {
    width: 50%;
  }
}
@media (max-width: 767px) {
  .x-news-list2 .container-index ul li {
    width: 100%;
    padding-bottom: 0.4rem;
  }
}
.x-news-list2 .container-index ul li a {
  width: 100%;
  overflow: hidden;
  display: block;
  /*   border-radius: 8px;
  border: 1px solid #ecf5ff; */
}
.x-news-list2 .container-index ul li img {
  width: 100%;
}
/* .x-news-list2 .container-index ul li a:hover img {
  transform: scale(1.1);
} */

.x-news-list2 .container-index ul li a img {
  border-radius: 0.05rem;
  border-bottom-left-radius: initial;
  border-bottom-right-radius: initial;
}
.main .container-index {
  padding-bottom: 1rem;
}
.main .container-index .foot {
  border-top: 1px solid #dcdbdc;
  padding-bottom: 1rem;
  display: flex;
  justify-content: end;
  padding-top: 0.19rem;
  align-items: center;
}
.main .container-index .foot a svg {
  width: 13px;
  height: 11px;
}
.main .container-index .foot a svg path {
  fill: #333;
  fill-rule: evenodd;
}

.main .container-index .foot a svg.prev {
  transform: rotate(180deg);
  margin-right: 0.2rem;
}
.main .container-index .foot a svg.next {
  margin-left: 0.2rem;
}
.main .container-index .foot a:hover svg path {
  fill: #227af3;
  fill-rule: evenodd;
}
.main .container-index .foot a:hover {
  color: #227af3;
}
.main .container-index .foot a {
  color: #333;
  display: block;
}
.main .container-index .foot a.prev {
  margin-right: 0.6rem;
}

.main .container-index h1 {
  color: #333333;
  line-height: 48px;
  font-size: 0.32rem;
  padding-top: 0.3rem;
}

.main .container-index h5 {
  font-weight: 400;
  font-size: 18px;
  color: #333333;
  line-height: 48px;
}

.main .container-index p {
  color: #333333;
  line-height: 32px;
  padding-bottom: 0.4rem;
}

.swiper-container {
  width: 100%;
  padding: 0.8rem 0 0.96rem;
}

.swiper-container .container-index {
  width: 89%;
  position: relative;
  margin: auto;
  max-width: 1400px;
}
.swiper-container .list {
  width: calc(100% + 0.4rem);
  margin: 0 -0.2rem;
  position: relative;
}

.swiper-container .list .swiper-container {
  padding: 0.36rem 0.1rem 0.3rem;
}

.swiper-container .list .swiper-slide a {
  /* width: 100%; */
  display: flex;
  border-radius: 0.1rem;
  border: 1px solid #dfdfdf;
  overflow: hidden;
}

.swiper-container .list .swiper-slide a .left {
  flex: 1;
}
.swiper-container .list .swiper-slide a .left img {
  height: 100%;
}
.swiper-container .list .swiper-slide a .tbox {
  flex: 1;
  padding: 0.35rem 0.35rem 0.4rem 0.4rem;
}

.swiper-container .list .swiper-slide a .tbox .t1 {
  font-size: 0.18rem;
  color: #222;
  line-height: 0.32rem;
  height: 0.64rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

@media (max-width: 991px) {
  .swiper-container .list .swiper-slide a .tbox .t1 {
    font-size: 0.3rem;
  }
}

.swiper-container .list .swiper-slide a .tbox .time {
  color: #666;
  line-height: 24px;
  margin-top: 0.2rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.swiper-container .list .swiper-slide a .tbox .icon {
  margin-top: 0.4rem;
  width: 0.46rem;
  height: 0.46rem;
  border-radius: 50%;
  /* border: 2px solid #f0f4ff; */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-container .list .swiper-slide a .tbox .icon svg {
  position: relative;
  z-index: 2;
}

.swiper-container .list .swiper-slide a .tbox .icon svg path {
  fill: #007fff;
  transition: all ease-out 0.3s;
}

.swiper-container .list .swiper-slide a .tbox .icon::before {
  content: '';
  width: 0.46rem;
  height: 0.46rem;
  border-radius: 50%;
  background: #eaf3ff;
  position: absolute;
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  transition: all ease-out 0.3s;
}

.swiper-container .list .swiper-slide a .tbox .icon:hover svg path {
  fill: #fff;
}

.swiper-container .list .swiper-slide a .tbox .icon:hover::before {
  background: linear-gradient(to right, #0f59ee, #007fff);
  box-shadow: 0 0.1rem 0.16rem 0 rgba(0, 0, 0, 0.05);
}

.swiper-container .list .swiper-slide:hover a {
  background: #fff;
  border: 1px solid #fff;
  box-shadow: 0 0 0.18rem 0 rgba(0, 0, 0, 0.05);
}

.swiper-container .list .swiper-slide:hover a .public-img img {
  transform: scale(1.05);
}

.swiper-container .list .swiper-prev,
.swiper-container .list .swiper-next {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  overflow: hidden;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all ease-out 0.3s;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 2;
}

@media (max-width: 1260px) {
  .swiper-container .list .swiper-prev,
  .swiper-container .list .swiper-next {
    width: 40px;
    height: 40px;
  }
}

.swiper-container .list .swiper-prev::before,
.swiper-container .list .swiper-next::before {
  content: '';
  width: 100%;
  height: 100%;
  border: 1px solid #0066ff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  box-sizing: border-box;
}

.swiper-container .list .swiper-prev .icon,
.swiper-container .list .swiper-next .icon {
  width: 8px;
  height: 14px;
  display: flex;
}

.swiper-container .list .swiper-prev .icon svg,
.swiper-container .list .swiper-next .icon svg {
  width: 100%;
}

.swiper-container .list .swiper-prev .icon svg path,
.swiper-container .list .swiper-next .icon svg path {
  fill: #0066ff;
  transition: all ease-out 0.3s;
}

.swiper-container .list .swiper-prev:hover,
.swiper-container .list .swiper-next:hover {
  background: #0066ff;
}

.swiper-container .list .swiper-prev:hover .icon svg path,
.swiper-container .list .swiper-next:hover .icon svg path {
  fill: #fff;
}

@media (max-width: 991px) {
  .swiper-container .list .swiper-prev,
  .swiper-container .list .swiper-next {
    display: none;
  }
}

.swiper-container .list .swiper-prev {
  right: calc(70% + 0.65rem);
}

@media (max-width: 1580px) {
  .swiper-container .list .swiper-prev {
    right: calc(100% + 0.3rem);
  }
}

@media (max-width: 1260px) {
  .swiper-container .list .swiper-prev {
    right: calc(100% - 0.1rem);
  }
}

.swiper-container .list .swiper-next {
  left: calc(70% + 0.65rem);
}

@media (max-width: 1580px) {
  .swiper-container .list .swiper-next {
    left: calc(100% + 0.3rem);
  }
}

@media (max-width: 1260px) {
  .swiper-container .list .swiper-next {
    left: calc(100% - 0.1rem);
  }
}

.swiper-container .list .swiper-next svg {
  transform: rotateZ(180deg);
}

.swiper-container .btn {
  width: 100%;
  display: flex;
  justify-content: center;
}
